include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"
  body
    .wrapper
      header.header
        .header__container.container
          .header__logo
            .logo РВ
          .header__nav
            nav.menu
              -
                var items = [
                  {href: "#hero", name: "Главная"},
                  {href: "#about", name: "Обо мне"},
                  {href: "#skills", name: "Навыки"},
                  {href: "#works", name: "Работы"},
                  {href: "#reviews", name: "Отзывы"},
                  {href: "#contact", name: "Связаться"}
                ];
              ul.menu__list
                each item in items
                  li.menu__item
                    a.menu__link(href=item.href) #{item.name}
          .header__links
            -
              var icons = [
                {href: "", name: "insta"},
                {href: "", name: "vk"},
                {href: "", name: "github"}
              ];
            ul.socials
              each icon in icons
                li.socials__item
                  a.socials__link(href=icon.href)
                    +icon(icon.name, "socials__icon")

          button.btn-bar
            +icon("bar-menu", "btn-bar__icon")
      .bg-wrapper.bg-wrapper_sky
        -
          var parallaxList = [
            {classDiv: "parallax__sky", path: "parallax/Sky.png"},
            {classDiv: "parallax__mountain", path: "parallax/Mountain.png"},
            {classDiv: "parallax__balloon", path: "parallax/balloon.png"},
            {classDiv: "parallax__cloud", path: "parallax/cloud.png"},
            {classDiv: "parallax__mountain-second", path: "parallax/Mountain1.png"},
            {classDiv: "parallax__man", path: "parallax/Man.png"},
            {classDiv: "parallax__white", path: "parallax/White.png"}
          ];
        .parallax
          each item in parallaxList
            div(class=item.classDiv)
              picture
                +source(item.path)
                img(src="" class="parallax__img")

        section.hero.section(id="hero")
          .hero__container.container
            .hero__content
              .hero__user-text Личный сайт #[br]веб разработчика
              h1.hero__user-name Ровин #[br] Виталий
          a.btn-scroll(href="#about")
            .btn-scroll__text Скролл
            +icon("scroll", "btn-scroll__icon")

        section.about.section(id="about")
          .about__container.container
            .about__content
              .about__left-column
                .about__avatar
                  .avatar
                    +image("content/user.jpg", "avatar__img", "Аватар Ровина Виталия")
                .about__info
                  -
                    var userData = [
                      {left: "Проживаю:", right: "Красноярск"},
                      {left: "Возраст:", right: "25 лет"},
                      {left: "Родился:", right: "15 февраля 1995"}
                    ];
                  .about__table
                    each data in userData
                      .about__table-row
                        .about__table-left= data.left
                        .about__table-right= data.right
              .about__right-column
                .about__disclaimer Привет, меня зовут
                h2.about__heading Ровин Виталий
                .about__desc
                  p
                  | Я занимаюсь разработкой современных сайтов и приложений.
                  | Мне нравится делать интересные и современные проекты.
                .about__ps
                  +icon("star", "about__star-icon")
                  p
                  | Этот сайт я сделал в рамках обучения в Школе онлайн образования
                  | LoftSchool. Чуть позже я освежу в нём свой контент.
                  | А пока посмотрите, как тут всё классно и красиво!

        .triangles
          svg(viewBox="0 0 1000 100").triangles__item
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100").triangles__item
            polygon(points="1000,0 1000,100 0,100")
      section.skills.section(id="skills")
        .skills__container.container
          .skills__content
            .skills__column.skills__left-column
              .skills__img
                +image("content/backpack.png", "skills__backpack", "Картинка рюкзака")
            .skills__column.skills__right-column
              .skills__preview
                h2.skills__heading Чем я могу быть полезен вам
                p
                  | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                  | Чуть позже я освежу в нём свой контент. А пока посмотрите,
                  | как тут всё классно и красиво!
              #skills-component

      section.works.section(id="works")
        .works__container.container
          .works__content
            h2.works__heading Мои работы
            #works-component

      .bg-wrapper.bg-wrapper_buddha
        .triangles.triangles_rotate
          svg(viewBox="0 0 1000 100").triangles__item
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100").triangles__item
            polygon(points="1000,0 1000,100 0,100")
        -
          var parallaxList = [
            {classDiv: "parallax__buddha-sky", path: "parallax/bSky.png"},
            {classDiv: "parallax__buddha-mountains", path: "parallax/bMountains.png"},
            {classDiv: "parallax__buddha-big", path: "parallax/buddha.png"},
            {classDiv: "parallax__buddha-clouds", path: "parallax/bClouds.png"}
          ];
        .parallax
          each item in parallaxList
            div(class=item.classDiv)
              picture
                +source(item.path)
                img(src="" class="parallax__img")
        section.reviews.section(id="reviews")
          .reviews__container.container
            #reviews-component

        section.contact.section(id="contact")
          .contact__container.container
            .contact__content
              h2.contact__heading Связаться со мной
              form.form
                .form__row
                  label.form__input
                    input.form__input-real(required)
                    span.form__input-label Введите ваше имя
                    span.form__input-icon
                      +icon("user", "form__icon")
                  label.form__input
                    input.form__input-real(required)
                    span.form__input-label Введите ваш email
                    span.form__input-icon
                      +icon("envelope", "form__icon")
                .form__row
                  label.form__input
                    textarea.form__input-real.form__textarea(required rows=2)
                    span.form__input-label Сообщение к письму
                    span.form__input-icon
                      +icon("message", "form__icon")
                .form__row
                  button.btn-send(type="submit") Отправить

      footer.footer
        .footer__container.container
          .footer__content
            .footer__col-left
              .footer__year
                .footer__copyright
                  +icon("copyright", "footer__copyright-icon")
                .footer__year-copyright 2020
              .footer__user-info
                .footer__user-name Ровин Виталий
                .footer__user-text Личный сайт #[br]веб-разработчика
            .footer__col-right
              nav.menu.menu__footer
                -
                  var items = [
                    {href: "#hero", name: "Главная"},
                    {href: "#about", name: "Обо мне"},
                    {href: "#skills", name: "Навыки"},
                    {href: "#works", name: "Работы"},
                    {href: "#reviews", name: "Отзывы"},
                    {href: "#contact", name: "Связаться"}
                  ];
                ul.menu__list
                  each item in items
                    li.menu__item
                      a.menu__link(href=item.href) #{item.name}
              .footer__extra-info
                .footer__extra-info-left
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  -
                    var icons = [
                      {href: "", name: "insta"},
                      {href: "", name: "vk"},
                      {href: "", name: "github"}
                    ];
                  ul.socials
                    each icon in icons
                      li.socials__item.socials__item_footer
                        a.socials__link(href = icon.href)
                          + icon(icon.name, "socials__icon")
                .footer__extra-info-right
                  p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  h3 Martin Golding




      aside.sidebar
        .sidebar__container
          button.sidebar__remove.btn-remove
            +icon("remove", "btn-remove__icon")

          nav.sidebar__menu.menu
            -
              var items = [
                {href: "#hero", name: "Главная"},
                {href: "#about", name: "Обо мне"},
                {href: "#skills", name: "Навыки"},
                {href: "#works", name: "Работы"},
                {href: "#reviews", name: "Отзывы"},
                {href: "#contact", name: "Связаться"}
              ];
            ul.menu__list
              each item in items
                li.menu__item
                  a.menu__link(href=item.href) #{item.name}
          .sidebar__links
            -
              var icons = [
                {href: "", name: "insta"},
                {href: "", name: "vk"},
                {href: "", name: "github"}
              ];
            ul.socials
              each icon in icons
                li.socials__item
                  a.socials__link(href=icon.href)
                    +icon(icon.name, "socials__icon")
    include ./templates/entry.pug